<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title</title>
  <link href="~/Content/css/pure-min.css" rel="stylesheet" />
  <link href="~/Content/css/highlight-vs.min.css" rel="stylesheet" />
  <link href="~/Content/css/blog.css" rel="stylesheet" />
</head>
<body>
  <div>
    <h1>@Model.Title</h1>
    <p>
      <a href="~/blog">Blog</a> |
      <a href="~/blog/archive">Archive</a> |
      <a href="~/readme">Readme</a> |
      <a href="~/about">About</a> |
      <a href="~/blog/rss">RSS</a>
    </p>
    <section>
      @foreach (var post in @ViewBag.Posts)
      {
        <article>
          <h2><a href="@post.PermaLink">@post.Title</a></h2>
          <div>
            @Html.Raw(post.Html())
          </div>
          <div class="blog-date">@post.Created.ToString("d MMM yyyy")</div>
        </article>
      }
      <p>
        <button class="pure-button" @ViewBag.DisableNext onclick="location.href='@ViewBag.Next';" style="float:right;">Older &rArr;</button>
        <button class="pure-button" @ViewBag.DisablePrev onclick="location.href='@ViewBag.Prev';">&lArr; Newer</button>
      </p>

    </section>
  </div>
  <script src="~/Content/js/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
