@using System
@using System.Linq
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Nancy.Blog.Example</title>
  <link href="~/Content/css/pure-min.css" rel="stylesheet" />
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/vs.min.css">
  <link href="~/Content/css/blog.css" rel="stylesheet" />
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <div>
    <h1>@Model.Blog.Title</h1>

    <section>
      @foreach (var post in Enumerable.Take(Enumerable.Skip(Model.Blog.Posts, ViewBag.Page), 3))
      {
        <article>
          <h2><a href="@Model.Blog.PermaLink(post)">@post.Title</a></h2>
          <div>
            @Html.Raw(post.Html())
          </div>
          <div class="blog-date">@post.Created.ToString("d MMM yyyy")</div>
        </article>
      }
      <p><a href="@ViewBag.Prev">pevious</a>  | <a href="@ViewBag.Next">next</a></p>
    </section>
  </div>
</body>
</html>
